<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <img style="height: 40px;width: auto;" src="{{ '/favicon.ico' | relative_url }}" alt="{{ site.title | escape }}"
        class="site-logo">
      <span>{{ site.title | escape }}</span>
    </a>

    {%- if site.nav_pages -%}
    {%- for page_path in site.navigation_pages -%}
    {%- assign page_item = site.pages | where: "path", page_path | first -%}
    {%- if page_item -%}
    <a class="page-link" href="{{ page_item.url | relative_url }}">
      {{ page_item.title | default: page_item.name | replace: ".md", "" | capitalize }}
    </a>
    {%- endif -%}
    {%- endfor -%}
    {%- else -%}
    <!-- Fallback если navigation_pages не определен -->
    <a class="page-link" href="{{ '/about/' | relative_url }}">О проекте</a>
    {%- endif -%}
  </div>
</header>